@import '../_variables';
@import '../_helpers';

/*
  Window Header Component
  ----
  - Use for any window header
  - Can be changed into light version with `.is-light` class
*/


.window-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: $font-size-default;
    @extend .webkit-drag;
    -webkit-app-region: drag;
    cursor: -webkit-grab;
}

.window-header ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    list-style: none;
    transition: transform .12s ease-in-out, opacity .12s ease-in-out;
    will-change: transform, opacity;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    transform: translateY(-10px);
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    -webkit-user-select: none !important;

}


.window-header:hover ul {
    opacity: 1;
    transform: translateY(0px);
}

/* CONTROLS */

.window-header .window__controls {
    position: absolute;
    right: 10px;
}

.window-header .switch__controls {
    position: absolute;
    left: 10px;
}

.window-header .switch__controls-back i {
    display: inline-block;
    transform: rotateY(180deg);
}

.window-header .window__controls a {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(256,256,256,0.1);
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
}

.window-header .window__controls a svg {
    width: 100%;
    height: 100%;
}
